<UserInfo/>
<main class="container mt-5">
    <section>
        <h2>Shopping Cart</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <LinkTo @route="product-list">
                    Home
                </LinkTo>
            </li>
            <li class="breadcrumb-item">
                <LinkTo @route="item" @model="1">
                    Item
                </LinkTo>                
            </li>
            <li class="breadcrumb-item">Shopping cart</li>
        </ol>
    </section>
    {{#each this.cart.itemList as |item|}}
        <div class="cart-item d-flex align-items-center">
            <div class="cart-item-thumbnail">
                <img src={{item.image}} alt="">   
            </div>
            <div class="ml-3">
                <h4>{{item.name}}</h4>
                <i class="font-weight-bold">
                    {{currency item.price}}
                </i>
            </div>
            <input type="number" class="ml-auto" 
            value={{item.count}}
            {{on "click" (fn this.updateItem item)}}
            >
        </div>
    {{/each}}
    <section class="w-50 ml-auto text-right mb-5">
        <div class="row">
            <span class="col">Subtotal</span>
            <span class="col">{{currency this.subTotal}}</span>
        </div>
        <div class="row">
            <span class="col">Tax</span>
            <span class="col">{{currency this.tax}}</span>
        </div>
        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{currency this.total}}</span>
        </div>
    </section>
</main>